@using BlazorHeightmaps.Presets

<div class="flex">

  <Input LabelText="Preset" class="flex-none mx-2">
    <Select OnChanged="@OnPresetChanged">
      @foreach (var preset in Preset.All())
      {
        <option value="@preset.Name" selected="@(preset == _selectedPreset)">@preset.Name</option>
      }
    </Select>

  </Input>

  <Input LabelText="Rotation" class="flex-none mx-2">
    <Button>Left</Button>
    <Button>Right</Button>
  </Input>


</div>

@code {

  [CascadingParameter()]
  public State State { get; set; }

  private Preset _selectedPreset = Preset.CitiesSkylines;

  private void OnPresetChanged(ChangeEventArgs e)
  {
    var preset = Preset.ByName((string)e.Value);
    if (preset == null)
    {
      return;
    }
    _selectedPreset = preset;

    State?.Apply(preset);
  }

}
